DATABASE_URL=
SECRET_KEY=your-secret-goes-here
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://live.qatarivirtual.xyz
IF_API_BASE_URL=https://api.infiniteflight.com/public/v3
IF_AUTH_BASE_URL=https://api.infiniteflight.com/auth/v2
IF_CLIENT_ID=
IF_CLIENT_SECRET=
IF_REDIRECT_URI=
